#button_grid_container_1 {
    position: relative;
    top: 80px;
    left: 80px;
    }

.my-calc-rows {
    padding: 2px;
}

@media screen and (max-width: 400px){
  .button-wrappers {
    width: 300px;
    font-size: 50%;

  }
}
